@media screen and (max-width: 1500px) {
    body{
        width: 70%;
    }
  }


  @media screen and (max-width: 1200px) {
      #botao-add{
        width: 200px;
        margin-top: 10px;
      }
      
      .type{
        margin-top: 10px;
      }

    .filtros{
        display: flex;
        flex-wrap: wrap;
    }

  }

  @media screen and (max-width: 800px) {
    
  .search{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .add-patr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  #add-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;  

  }
  }




