<div class="grid">
    <div class="graf1">
        <h2>Tipos de Patrimônios:</h2>
        <div class="canvas-container">
            <canvas id="typechart"></canvas>
        </div>
    </div>
    <div class="graf2">
        <h2>Patrimônios ativos e não ativos:</h2>
        <div class="canvas-container">
            <canvas id="activechart"></canvas>
        </div>
    </div>
    <div class="graf3">
        <h2>Valor dos Patrimônios ativos ao longo do tempo:</h2>
        <div class="canvas-container">
            <canvas id="valuechart"></canvas>
        </div>
    </div>
    <div class="info1">
        <h1>Número total de Patrimônios:</h1>
        <p>{{this.patrimoniostotal}}</p>
    </div>
    <div class="info2">
        <h1>Valor total de patrimônial:</h1>
        <p>{{ this.totalreais }}</p>
    </div>
    <div class="info3">
        <h1>Valor total de patrimonios não ativos e descartados:</h1> 
        <p>{{this.totallostreais}}</p>
    </div>
</div>
