body {
    overflow-x: hidden;
    
    h1, p, span {
        pointer-events: none;
    }
}

.wallpaper {
    background-image: url('../../../assets/imgs/landingWllp.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .heroLeft {
        width: 50vw;
        height: 100%;
        font-size: 8rem;

        img {
            width: 75px;
            position: absolute;
            top: 75vh;
        }
    }

    button {
        background-color: white;
        text-align: center;
        border-radius: 2rem;
        font-size: 20px;   
        width: 16rem;
        height: 4rem;        
        padding: 6px; 
        transition: background-color 0.2s ease;
        
        &:hover {
            background-color: #c5c5c5;
            color: purple;
        }
    }
}

.contentOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    
    .contentOne-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        background: #d6d6d6;
        font-size: 100px;
        
        h1 {
            background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: white;
		background-image: linear-gradient(to right top, #4c1084, #740686, #970086, #b60084, #e0116c, #fb4250, #ff7131, #ff9e00);
        }
    }

    .contentOne-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        font-size: 28px;
        padding: 1rem;
        background-color: #d6d6d6;
        color: black;
    }
}

.patterns {
    position: absolute;
    width: 99vw;
    height: 100vh;

    .patternDot {
        position: relative;
        height: 300px;
        width: 300px;
        top: -100px;
        left: 50px;
        background-image: radial-gradient(#000000 1px, transparent 1px);
background-size: 12px 12px;
background-color: rgba(255, 255, 255, 0);
    }
}


.contentTwo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75vh;
    background-color: #d6d6d6;

    .contentTwo-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 25%;
        font-size: 125px;
        gap: 20px;

        #outtext {
            position: relative;
            font-size: 150px;
            font-weight: 800; 
            top: 100px;
            background: linear-gradient(to right top, #4c1084, #740686, #970086, #b60084, #e0116c, #fb4250, #ff7131, #ff9e00);
            -webkit-background-clip: text;
            -webkit-text-stroke: 6px transparent;
            color: #d6d6d6;
        }
    }

    .contentTwo-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 75%;
        gap: 1rem;
        position: relative;
        top: 100px;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            color: white;
            width: 300px;
            height: 300px;
            background-image: linear-gradient(to right top, #4c1084, #740686, #970086, #b60084, #e0116c, #fb4250, #ff7131, #ff9e00);
            text-align: center;

            h1 {
                font-size: 24px;
                font-weight: bold;
            }

            p {
                font-size: 20px;
                padding: 6px;
            }
        }
    }
}

.contentThree {
    width: 100%;
    height: 150vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: #cccccc;


    .contentThree-functions {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .contentThree-title {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 125px;
    
            h1 {
                font-size: 75px;
                font-weight: bold;
                color: black;
            }
    
            .titleLine {
                height: 5px;
                width: 700px;
                background-image: linear-gradient(to right, #b60084, #e0116c, #fb4250, #ff7131, #ff9e00);
                background-color: #fff;
            }
        }
        }

        
        .contentThree-list {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;

            .main {
  
                display:flex;
                flex-direction:row;
                width:1200px; 
                height:600px;
                margin-top: 25px;
              }
              
              /*Device below 1024px, tablet/mobile*/
              @media(max-width:1024px){
                
                .main {
                
                display:flex;
                flex-direction:column;
                width:100%;   
                height:auto;
                
              } 
              }
              
              .column {
                
                width:25%;
                transition: width 0.5s;
                overflow: hidden;
                position:relative;
                display:flex;
                flex-direction:column;
                justify-content:flex-end;
                cursor:pointer;
                
              }
              
              .column:nth-child(1) {

                background-image: url('../../../assets/imgs/inventario.png');
                background-size:cover;
                background-position:center center;
                border-radius: 10px 0px 0px 10px;
                
              }
              
              .column:nth-child(2) {
                
                background-image: url('../../../assets/imgs/userpage.png');
                background-size:cover;
                background-position: 5% 1%;
                
              }
              
              .column:nth-child(3) {
                
                background-image: url('../../../assets/imgs/descarte.png');
                background-size:cover;
                background-position:center center;
                
              }
              
              .column:nth-child(4) {
                
                // background-image: url('http://dmmotionarts.com/wp-content/uploads/2024/01/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg');
                background-size:cover;
                background-position:center center;
                border-radius: 0px 10px 10px 0px;
              }
              
              /*Border Styling for device width below 1024px, Tablet/Mobile*/
              @media(max-width:1024px){
                
                .column:nth-child(1) {
                
                 border-radius: 10px 10px 0px 0px;
                
              }
                
                .column:nth-child(4) {
                
                 border-radius: 0px 0px 10px 10px;
              }
              }
              
              /*Desktop Styling*/
              @media screen and (min-width: 1025px) {
                          
                  /*Clicked column styling*/
                  .expanded {
                      
                  width: 150% !important;
                  
                  }
                  }
                  
                  .expanded:after {
                      
                      content: '';
                      background: rgba(0,0,0,0.6);
                      position: absolute;
                      left: 0;
                      top: 0;
                      height: 100%;
                      width: 100%;
                      z-index: 0;
                      pointer-events:none;
                      
                  }
                    
              /*Tablet and mobile, below 1025px*/  
              @media (max-width: 1024px) {
                      
              .column {
                      
                      width:100%;
                      transition: height 0.5s;
                      height: 120px;
                      
              }    
                      
              /*Clicked column styling*/
              .expanded{
                      
                  height: 400px !important;         
              
                  }
               }
                  
              /*Inner elements inside column container styling*/
              .inner-element {
                      
                opacity: 0;
                transition: opacity 0s;
                z-index: 2;
                padding:20px;
                background:transparent;
                position:absolute;
                left:0;
                bottom:100px;
                    
              }
              
              .inner-element h2{
                
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: white;
                background-image: linear-gradient(to right top, #e0116c, #fb4250, #ff7131, #ff9e00);
                font-size:48px;
                font-weight: bold;
                text-shadow: rgb(255, 255, 255) 0px -4px;
              }
              
              .inner-element p{
                
                color:white;
                text-shadow: black 1px 2px;
                font-size:16px;
                font-weight:100;
                
              }
                  
              /*Inner elements made visible on clicked column*/
              .inner-element.active {
                            
               opacity: 1; 
               transition: opacity 0.5s 0.4s;        
                     
              }
              
              .icons {
                
                position:absolute;
                bottom:20px;
                left:18px;
                font-size:40px;
                padding:20px;
                background-image: linear-gradient(to right top, #e0116c, #fb4250, #ff7131, #ff9e00);
                color: #262626;
                z-index:2;
                border-radius:50%;
                height:40px;
                width:40px;
                display:flex;
                justify-content:center;
                align-items:center;
                 
              }
              
              .DMmotionarts{
                
                position:absolute;
                width:200px;
                left:0;
                bottom:0;
                
              }
        }
    }
    
.contentFour {
    width: 100vw;
    height: 75vh;
}

.contentFive {
    width: 100vw;
    height: 75vh;
}



@media screen and (max-width: 648px) {
    .wallpaper {
        background: rgb(66,11,115);
        background: linear-gradient(45deg, #420b73 0%, #800b80 15%, #ce1a73 30%, #ea305f 45%, #fe444f 60%, #fe6e32 75%, #ff6f32 90%);
        justify-content: center;   
        
        .heroLeft {
            width: 100vw;

            h1 {
                font-size: 75px;
            }

            p {
                font-size: 17px;
                left: -20px;
                top: -10px;
            }

            button {
                background-color: white;
                text-align: center;
                border-radius: 2rem;
                font-size: 18px;   
                width: 10rem;
                height: auto;        
                padding: 6px; 
            }
        }
    }

    .contentOne {
        flex-direction: column;

        .contentOne-left {
            width: 100vw;
            font-size: 40px;
        }

        .contentOne-right {
            width: 100vw;
            font-size: 14px;
        }
    }
   
    .contentTwo {

        
        .contentTwo-title {
            #outtext {
                font-size: 42px;
                -webkit-text-stroke: 2px transparent;
            }
        }

        .contentTwo-cards {
           flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;

           .card {
                width: 75%;
                height: 100px;

                h1 {
                    font-size: 18px;
                }

                p {
                    font-size: 12px;
                }
           }
            
        }

    }
    .contentThree {

        .contentThree-functions {
            justify-content: center;
            padding-left: 0;
            h1 {
                font-size: 32px;
                
            }
        }
    }
    }


@media screen and (min-width: 649px) and (max-width: 768px)  {
    .wallpaper {
        background-position: right 0% bottom 50%;
        justify-content: center;

        button {
            background-color: white;
            text-align: center;
            border-radius: 2rem;
            font-size: 18px;   
            width: 10rem;
            height: 4rem;        
            padding: 6px; 
        }
    }

    
    .contentOne {

        .contentOne-left {
            font-size: 50px;
        }

        .contentOne-right {
            font-size: 20px;
        }
    }

    .contentTwo {
        .contentTwo-title {
            #outtext {
                font-size: 72px;
                -webkit-text-stroke: 4px transparent;
            }
        }
    }

    .contentThree {

        .contentThree-functions {
            justify-content: center;
            padding-left: 0;
            h1 {
                font-size: 50px;   
            }
        }
    }
}

@media screen and (min-width: 769px ) and (max-width: 1439px) {
    .contentOne {

        .contentOne-left {
            font-size: 64px;
        }

        .contentOne-right {
            font-size: 20px;
        }
    }
}
