body {
    overflow-x: hidden;
}

.wallpaper {
    background-image: url('../../../assets/imgs/landingWllp.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .heroLeft {
        width: 50vw;
        height: 100%;
        font-size: 8rem;
    }

    button {
        background-color: white;
        text-align: center;
        border-radius: 2rem;
        font-size: 20px;   
        width: 16rem;
        height: 4rem;        
        padding: 6px; 
        transition: background-color 0.2s ease;
        
        &:hover {
            background-color: #c5c5c5;
            color: purple;
        }
    }
}

.contentOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    
    .contentOne-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        background: #d6d6d6;
        font-size: 100px;
        
        h1 {
            background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: white;
		background-image: linear-gradient(to right top, #4c1084, #740686, #970086, #b60084, #e0116c, #fb4250, #ff7131, #ff9e00);
        }
    }

    .contentOne-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        font-size: 28px;
        padding: 1rem;
        background-color: #300030;
        color: #f5174e;
    }
}

@media screen and (max-width: 648px) {
    .wallpaper {
        background: rgb(66,11,115);
        background: linear-gradient(45deg, #420b73 0%, #800b80 15%, #ce1a73 30%, #ea305f 45%, #fe444f 60%, #fe6e32 75%, #ff6f32 90%);
        justify-content: center;   
        
        .heroLeft {
            width: 100vw;

            h1 {
                font-size: 75px;
            }

            p {
                font-size: 17px;
                left: -20px;
                top: -10px;
            }

            button {
                background-color: white;
                text-align: center;
                border-radius: 2rem;
                font-size: 18px;   
                width: 10rem;
                height: auto;        
                padding: 6px; 
            }
        }
    }

    .contentOne {
        flex-direction: column;

        .contentOne-left {
            width: 100vw;
            font-size: 40px;
        }

        .contentOne-right {
            width: 100vw;
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 649px) and (max-width: 768px)  {
    .wallpaper {
        background-position: right 0% bottom 50%;
        justify-content: center;

        button {
            background-color: white;
            text-align: center;
            border-radius: 2rem;
            font-size: 18px;   
            width: 10rem;
            height: 4rem;        
            padding: 6px; 
        }
    }

    
    .contentOne {

        .contentOne-left {
            font-size: 50px;
        }

        .contentOne-right {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 769px ) and (max-width: 1439px) {
    .contentOne {

        .contentOne-left {
            font-size: 64px;
        }

        .contentOne-right {
            font-size: 20px;
        }
    }
}
