<div class="flex flex-1 flex-col">
  <div id="welcome" class="bg-gradient-to-r from-amber-500 via-pink-600 to-purple-900 text-white flex w-[100%] h-[100vh] items-center justify-center flex-col gap-4 m-auto section">
      <div class="flex absolute top-4 left-[85vw]">
        <button class="bg-transparent p-2 border rounded-full shadow-none transition-colors hover:bg-white hover:text-black">
          <a href="/login">Login/Registro</a>
        </button>
      </div>
      <h1 class="text-9xl font-bold text-center" id="txt">Patrify</h1>
      <h2 class="text-2xl" id="txt">O Poder da Gestão de Ativos</h2>
      <div class="animate-bounce bg-white dark:bg-slate-800 p-2 w-10 h-10 ring-1 ring-slate-900/5 dark:ring-slate-200/20 shadow-lg rounded-full flex items-center justify-center">
          <svg class="w-6 h-6 text-black" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
          </svg>
      </div>
  </div>
  <div class="flex flex-row bg-gray-200 h-screen w-[100%] section">
    <div class="flex flex-col justify-start gap-4 ml-4  w-full h-[50%] items-start m-auto">
      <h1 class="text-7xl font-bold ml-10" id="desc">O Projeto</h1>
      <p id="desc" class="ml-10">A gestão patrimonial é crucial para organizações de todos os tipos<br> 
        facilitando a tomada de decisões embasadas e a alocação eficiente de recursos.<br> 
        Um software especializado, como o Patrify, simplifica o controle de ativos,<br> 
        permitindo o registro, monitoramento e análise detalhada, <br>
        além de garantir conformidade regulatória e reduzir custos operacionais.<br>
        Essa ferramenta também fornece informações cruciais para a gestão <br> 
        financeira e melhora a eficiência operacional ao automatizar tarefas, resultando em uma organização mais ágil e eficaz.
      </p>
    </div>
    <div class="flex w-full h-[100%]">
      <img src="../../../assets/imgs/patrify-logo-original.png" class="h-96 m-auto" id="logo">
    </div>
  </div>
  <div class="flex flex-row bg-gray-200 h-screen w-[100%] section">
    <h1>cu do maylon rasgado</h1>
  </div>
</div>

