<body>
<div class="wallpaper flex items-center overflow-hidden">
  <div class="heroLeft flex justify-center items-center flex-col">
    <h1 class="font-semibold text-9xl text-white">Patrify</h1>
    <p class="text-white text-[28px] relative right-[38px] bottom-4 text-nowrap">Gestão de Bens e Ativos</p>
    <button (click)="login()">Login/Registro</button>
    <img src="../../../assets/imgs/scrollicon.png" class="animate-bounce">
  </div>
</div>     
<div class="contentOne">
  <div class="contentOne-left">
    <h1 class="font-bold" id="contentOne-title">APLICAÇÃO</h1>
  </div>
  <div class="contentOne-right">
    <p id="contentOne-subtitle">Patrify é um gestor de bens e ativos que facilita a adição e organização de patrimônios em empresas. Com uma interface intuitiva, permite gerar números de série únicos e criar QR codes, oferecendo uma solução prática para o controle eficiente de ativos.</p>
  </div>
</div>  

<div class="patterns">
  <div class="patternDot"></div>
</div>

<div class="contentTwo">


  <div class="contentTwo-title">
    <h1 class="font-bold" id="outtext">BENEFÍCIOS</h1>
  </div>
  <div class="contentTwo-cards">
    <div class="card" id="card1">
      <h1>Gestão Eficiente de Ativos:</h1>
      <p>Organização e Controle.</p>
    </div>
    <div class="card" id="card2">
      <h1>Facilidade de Uso:</h1>
      <p>Interface amigável e Responsiva.</p>
    </div>
    <div class="card" id="card3">
      <h1>Automatização de Processos:</h1>
      <p>Geração de códigos de série.</p>
    </div>
    <div class="card" id="card4">
      <h1>Integração com APIs inteligentes:</h1>
      <p>Economizando tempo do Usuário.</p>
    </div>
  </div>
</div>
<div class="contentThree">
  <div class="contentThree-wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#d6d6d6" fill-opacity="1" d="M0,128L0,160L144,160L144,128L288,128L288,64L432,64L432,160L576,160L576,96L720,96L720,64L864,64L864,64L1008,64L1008,160L1152,160L1152,288L1296,288L1296,256L1440,256L1440,0L1296,0L1296,0L1152,0L1152,0L1008,0L1008,0L864,0L864,0L720,0L720,0L576,0L576,0L432,0L432,0L288,0L288,0L144,0L144,0L0,0L0,0Z"></path></svg>  </div>
  <div class="contentThree-functions">
    <div class="contentThree-title">
      <h1 id="contentThree-title">FUNCIONALIDADES</h1>
      <div class="titleLine"></div>
    </div>
  
    <div class="contentThree-list">
      <div class = "main">
        <div class = "column expanded"> 
          <div class = "inner-element active">
            <h2>INVENTÁRIO</h2>
            <p>O inventário do Patrify é uma ferramenta para gerenciar bens e ativos, permitindo adicionar e visualizar itens com códigos de série e QR codes automáticos. Além de incluir filtros para melhor organização.</p>          
          </div>
          <div class="icons"><p>1</p></div>
        </div>
          <div class = "column"> 
          <div class = "inner-element">
            <h2>PÁGINA DO USUÁRIO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.       Ut elit tellus, luctus nec ullamcorper mattis, pulvinar           dapibus leo.Lorem ipsum dolor sit amet, consectetur               adipiscing elit. Ut elit tellus, luctus nec ullamcorper           mattis, pulvinar dapibus leo.</p>
          </div>
            <div class="icons"><p>2</p></div>
        </div>
          <div class = "column"> 
          <div class = "inner-element">
            <h2>DESCARTE INTELIGENTE</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.       Ut elit tellus, luctus nec ullamcorper mattis, pulvinar           dapibus leo.Lorem ipsum dolor sit amet, consectetur               adipiscing elit. Ut elit tellus, luctus nec ullamcorper           mattis, pulvinar dapibus leo.</p>
          </div>
            <div class="icons"><p>3</p></div>
        </div>
          <div class = "column"> 
          <div class = "inner-element">
            <h2>GRÁFICOS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.       Ut elit tellus, luctus nec ullamcorper mattis, pulvinar           dapibus leo.Lorem ipsum dolor sit amet, consectetur               adipiscing elit. Ut elit tellus, luctus nec ullamcorper           mattis, pulvinar dapibus leo.</p>
          </div>
            <div class="icons"><p>4</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contentFour">
  <div class="contentFour-wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#cccccc" fill-opacity="1" d="M0,128L0,192L205.7,192L205.7,288L411.4,288L411.4,128L617.1,128L617.1,160L822.9,160L822.9,224L1028.6,224L1028.6,224L1234.3,224L1234.3,32L1440,32L1440,0L1234.3,0L1234.3,0L1028.6,0L1028.6,0L822.9,0L822.9,0L617.1,0L617.1,0L411.4,0L411.4,0L205.7,0L205.7,0L0,0L0,0Z"></path></svg>
  </div>
  <h1>COLABORADORES</h1>
</div>
<div class="contentFive">
  <h1>COLABORADORES</h1>
</div>
<div class="footer"></div>
</body>              