

#btn-grafico {
    transition: all .2s ease-in;
        &:hover {
            color: #fff;
            background-image: linear-gradient(to right top, #240046, #2e0255, #380664, #420a74, #4c1084, #740686, #970086, #b60084, #e0116c, #fb4250, #ff7131, #ff9e00);
        }
}

#btn-patrimonio{
    transition: all 1s ease;
}

.imagem{
    height: 100%;
}

.patr_image{
    width: 100%;
    max-height: 100%;
}

