<body class="flex bg-gray-100 h-max">
  <sidebar class="sidebar"></sidebar>  <!-- SIDEBAR -->
  <div class="flex flex-col flex-1">
    <header-global></header-global> <!-- HEADER -->
    <filtro></filtro> <!-- FILTRO DO INVENTÁRIO -->   
    <div class="overflow-x-auto mt-4">
      <table class="table-auto w-[98%] mx-auto divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left font-bold text-gray-500 uppercase tracking-wider">Imagem</th>
            <th scope="col" class="px-6 py-3 text-left font-bold text-gray-500 uppercase tracking-wider">Nome</th>
            <th scope="col" class="px-6 py-3 text-left font-bold text-gray-500 uppercase tracking-wider">Status</th>
            <th scope="col" class="px-6 py-3 text-left font-bold text-gray-500 uppercase tracking-wider" id="local">Localização</th>
            <th scope="col" class="px-6 py-3 text-left font-bold text-gray-500 uppercase tracking-wider" id="valor">Preço</th>
            <th scope="col" class="px-6 py-3 text-left font-bold text-gray-500 uppercase tracking-wider" id="data">Data</th>
            <th scope="col" class="px-6 py-3 text-left font-bold text-gray-500 uppercase tracking-wider" id="conservacao">Conservação</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 transition-colors hover:bg-gray-300">
          <!-- Row 1 -->
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <!-- Aqui você pode adicionar uma tag img com a imagem -->
                  <div class="h-10 w-10 bg-gray-200 rounded-full"></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">Nome do item</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Ativo</span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap" id="local">
              <div class="text-sm text-gray-900">Localização do item</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" id="valor">
              $100,00
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" id="data">
              01/01/2024
            </td>
            <td class="px-6 py-4 whitespace-nowrap" id="conservacao">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Novo</span>
            </td>
          </tr>
          <!-- Row 2, 3, ... -->
        </tbody>
      </table>
    </div>
    </div>
</body>
