/* app.component.css */
body{
    width: 100vw;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

#svg {
    stroke: #fff;
    fill-opacity: 0;
    stroke-width: 12px;
    width: 200px;
    stroke-dasharray: 4500;
    animation: LoadingAnimation 1.2s ease infinite;
}

@keyframes LoadingAnimation {
    0% {
        stroke-dashoffset: 4500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
