body {
    display: flex; /* Torna o corpo do documento um contêiner flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha os itens ao início do eixo transversal (vertical) */
    min-height: 100vh; /* Garante que o corpo da página tenha pelo menos 100% da altura da janela de visualização */
}

#titulo-header {

        white-space: nowrap;

        background: linear-gradient(to top, #36007e, #f700ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-right: auto;
    }

.text-center {
    text-align: center; /* Centraliza o texto dentro deste container */
}

h1, p {
    display: inline; /* Isso força os títulos a ficarem na mesma linha */
}
